@model SenRevue.Areas.Admin.Models.ViewModel.AdminViewModelBase
@using SenRevue.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@string.Format("{0}: {1}", LabelHelpers.GetLabel("admin_title"), Model.Title)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse senrevue navbar-fixed-top">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-login">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/Icons/icon_33.png" class="img-responsive img-rounded navbar-brand logo" />
            </div>
            <div class="navbar-collapse collapse navbar-login">
                <ul class="nav navbar-nav"></ul>

                @Html.Partial("~/Views/Shared/_LanguagePartial.cshtml", Model)
                <br />
                @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @if (User.Identity.IsAuthenticated)
        {
            string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();

            <div class="navbar navbar-inverse senrevue-menu">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse navbar-menu">
                        <ul class="nav navbar-nav">
                            <li class="@(actionName == "Index"?"active":"")">
                                @Html.ActionLink(LabelHelpers.GetLabel("home_label"), "Index", "Admin",
                            routeValues: null, htmlAttributes: new { title = LabelHelpers.GetLabel("home_label") })
                            </li>
                            <li class="@(actionName == "News"?"active":"")">
                                @Html.ActionLink(LabelHelpers.GetLabel("article_label"), "News", "Admin",
                            routeValues: null, htmlAttributes: new { title = LabelHelpers.GetLabel("article_admin_title") })
                            </li>
                            <li class="@(actionName == "Rubrics"?"active":"")">
                                @Html.ActionLink(LabelHelpers.GetLabel("rubrique_label"), "Rubrics", "Admin",
                            routeValues: null, htmlAttributes: new { title = LabelHelpers.GetLabel("rubrique_admin_title") })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Model.ApplicationName</p>
        </footer>
    </div>

</body>
</html>